body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}

.container.cat {
  max-width: 1348px;
}

.main-header {
  position: relative;
}

/* setka glav*/

.main-header-logo h1 {
  position: absolute;
  margin: 0;
  padding: 0;

  left: 531px;

  z-index: 1000;
}

.main-header-navigation {
  position: absolute;
  width: 1200px;
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
  list-style: none;

  z-index: 100;
}

.main-header-navigation li,
.main-header-navigation-cat li {
  display: inline-block;
  width: 128px;
  padding-top: 14px;
  padding-bottom: 16px;

  white-space: nowrap;
}

.main-header-navigation li:first-child,
.main-header-navigation-cat li:first-child {
  padding-right: 112px;
  padding-left: 73px;
}

.main-header-navigation li:nth-child(2),
.main-header-navigation-cat li:nth-child(2)  {
  padding-right: 350px;
}

.main-header-navigation li:nth-child(3),
.main-header-navigation-cat li:nth-child(3) {
  padding-right: 120px;
}

.main-header-navigation a,
.main-header-navigation-cat a {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
}

.main-header-navigation-cat {
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
  list-style: none;
}

.text-block-title,
.text-block-info,
.block-2-title,
.block-2-info {
  margin: 0;
  padding: 0;

  text-align: center;
}

.main {
  position: relative;
}
.text {
  position: absolute;
  width: 1200px;
  max-height: 111px;
  padding-bottom: 106px;

  top: 563px;

  background-color: #ffffff;
  z-index: 20;
}

.text::before {
  position: absolute;
  width: 1200px;
  height: 57px;

  content: "";
  bottom: 216px;
  left: 0px;

  background:  url("../img/shape-white.png") no-repeat;
}

.text-block-title {
  width: 445px;
  margin-left: 377px;
  padding-top: 60px;
  padding-bottom: 27px;

  font-size: 21px;
  font-weight: 700;

  background-color: #ffffff;
}

.text-block-info {
  width: 500px;
  margin-left: 348px;

  font-size: 14px;
  font-weight: 400;

  background-color: #ffffff;
}

.info-block {
  display: flex;
}

.block-1,
.block-2 {
  display: flex;
  max-height: 256px;

  background-color: #81b3d2;
}

.block-1 {
  margin-top: -1px;
}

.block-2 {
  margin-top: 1px;
}

.block-3 {
  background-color: #eeeeee;
}

.block-3 div {
  width: 400px;  
}

.info-block-item p {
  margin: 0;
  padding: 0;
}

.info-block-item p:first-child {
  width: 140px;
  padding-top: 47px;
  padding-left: 130px;
  padding-bottom: 21px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.info-block-item p:nth-child(2),
.info-block-item p:last-child {
  text-align: center;
}

.info-block-item p:last-child {
  width: 270px;  
  padding-top: 19px;
  padding-left: 63px;
  padding-bottom: 61px;

  line-height: 20px; 
}

.info-block-inside {
   background-color: #81b3d2;
}

.info-block-inside p {
  margin: 0;
  padding: 0;
}

.info-block-inside p:first-child {
  width: 150px;
  padding-top: 46px;
  padding-left: 125px;
  padding-bottom: 21px;

  font-size: 21px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.info-block-inside p:nth-child(2),
.info-block-inside p:nth-child(3) {
  color: #ffffff;
  text-align: center;
}

.info-block-inside p:nth-child(3) {
  width: 307px;
  padding-top: 18px;  
  padding-left: 47px;
  padding-right: 46px;

  line-height: 21px;
}

.text1 {
  width: 500px;
}

.info-block.block-2 {
  flex-direction: row-reverse;
}

.offer-block {
  display: flex;
}

.offer-block p {
  width: 400px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.offer-block p:first-child {
  padding-top: 160px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.offer-block p:last-child {
  width: 305px;
  padding-top: 25px;
  padding-left: 47px;
  padding-bottom: 81px;

  line-height: 21px;
}

.offer-block-item {
  position: relative;
}

.offer-block-item::before {
  position: absolute;
  width: 100px;
  height: 10px;

  content: "";

  background-color: #81b3d2;

}

.offer-block-item:first-child::before {
  width: 75px;
  height: 72px;

  top: 59px;
  left: 162px;

  background:  url("../img/sprite.png") no-repeat;
  background-position: -10px -487px;
}

.offer-block-item:nth-child(2)::before {
  width: 74px;
  height: 70px;

  top: 60px;
  left: 163px;

  background:  url("../img/sprite.png") no-repeat;
  background-position: -10px -301px;
}

.offer-block-item:nth-child(3)::before {
  width: 64px;
  height: 76px;

  top: 55px;
  left: 168px;

  background:  url("../img/sprite.png") no-repeat;
  background-position: -10px -391px;
}

.block-2-title {
  width: 300px;
  padding-top: 56px;
  padding-left: 450px;

  font-size: 30px;
  font-weight: 700;
  line-height: 24px;  
}

.block-2-info {
  padding-top: 29px;
  padding-bottom: 44px;
}

.feedback-btn {
  display: block;
  margin-left: 316px;

  white-space: nowrap;
}

.feedback {
  display: none;
}

.links {
  display: flex;
}

.btn {
  font-family: "PT Sans", "Tahoma", sans-serif;  
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;  
  text-decoration: none;

  background-color: #766357;
  border: none;
  outline: none;
  cursor: pointer;
}

.feedback-btn {
  padding: 30px 140px;
}


/* setka catalog*/

.filter-block {
  display: flex;
}

.catalog-sort-column {
  display: flex;
}

.catalog-block {
  display: flex;
}






















































.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-calendar-active {
    width: 21px;
    height: 22px;
    background-position: -10px -52px;
}

.sprite-ch {
    width: 26px;
    height: 22px;
    background-position: -10px -94px;
}

.sprite-ch2 {
    width: 22px;
    height: 22px;
    background-position: -10px -136px;
}

.sprite-checkbox-off {
    width: 22px;
    height: 22px;
    background-position: -10px -178px;
}

.sprite-checkbox-on {
    width: 26px;
    height: 22px;
    background-position: -10px -220px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -10px -262px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -10px -301px;
}

.sprite-gift {
    width: 64px;
    height: 76px;
    background-position: -10px -391px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -10px -487px;
}

.sprite-htmlacad {
    width: 113px;
    height: 39px;
    background-position: -10px -579px;
}

.sprite-htmlacad-active {
    width: 113px;
    height: 39px;
    background-position: -10px -638px;
}

.sprite-minus-active {
    width: 12px;
    height: 3px;
    background-position: -10px -697px;
}

.sprite-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -10px -720px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -10px -743px;
}

.sprite-plus-active {
    width: 11px;
    height: 11px;
    background-position: -10px -774px;
}

.sprite-stars-2 {
    width: 42px;
    height: 17px;
    background-position: -10px -805px;
}

.sprite-stars-3 {
    width: 65px;
    height: 17px;
    background-position: -10px -842px;
}

.sprite-stars-4 {
    width: 89px;
    height: 17px;
    background-position: -10px -879px;
}

.sprite-tw {
    width: 17px;
    height: 15px;
    background-position: -10px -916px;
}

.sprite-yt {
    width: 20px;
    height: 16px;
    background-position: -10px -951px;
}
