body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}

.container.cat {
  max-width: 1348px;
}

.main-header {
  position: relative;
}

/* setka glav*/

.main-header-logo h1 {
  position: absolute;
  margin: 0;
  padding: 0;

  left: 531px;

  z-index: 1000;
}

.main-header-navigation {
  position: absolute;
  width: 1200px;
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
  list-style: none;

  z-index: 100;
}

.main-header-navigation li,
.main-header-navigation-cat li {
  display: inline-block;
  width: 128px;
  padding-top: 14px;
  padding-bottom: 16px;

  white-space: nowrap;
}

.main-header-navigation li:first-child,
.main-header-navigation-cat li:first-child {
  padding-right: 112px;
  padding-left: 73px;
}

.main-header-navigation li:nth-child(2),
.main-header-navigation-cat li:nth-child(2)  {
  padding-right: 350px;
}

.main-header-navigation li:nth-child(3),
.main-header-navigation-cat li:nth-child(3) {
  padding-right: 120px;
}

.main-header-navigation a,
.main-header-navigation-cat a {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
}

.main-header-navigation a:hover {
  color: #81b3d2;
}

.main-header-navigation a:active {
  color: #bdbbbc;
}

.main-header-navigation-cat .active {
  color: #766357;
}

.main-header-navigation-cat {
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
  list-style: none;
}

.text-block-title,
.text-block-info,
.block-2-title,
.block-2-info {
  margin: 0;
  padding: 0;

  text-align: center;
}

.main {
  position: relative;
}
.text {
  position: absolute;
  width: 1200px;
  max-height: 111px;
  padding-bottom: 106px;

  top: 563px;

  background-color: #ffffff;
  z-index: 20;
}

.text::before {
  position: absolute;
  width: 1200px;
  height: 57px;

  content: "";
  bottom: 216px;
  left: 0px;

  background:  url("../img/shape-white.png") no-repeat;
}

.text-block-title {
  width: 445px;
  margin-left: 377px;
  padding-top: 60px;
  padding-bottom: 27px;

  font-size: 21px;
  font-weight: 700;

  background-color: #ffffff;
}

.text-block-info {
  width: 500px;
  margin-left: 348px;

  font-size: 14px;
  font-weight: 400;

  background-color: #ffffff;
}

.info-block {
  display: flex;
}

.block-1,
.block-2 {
  display: flex;
  max-height: 256px;

  background-color: #81b3d2;
}

.block-1 {
  margin-top: -1px;
}

.block-2 {
  margin-top: 1px;
}

.block-3 {
  background-color: #eeeeee;
}

.block-3 div {
  width: 400px;  
}

.info-block-item p {
  margin: 0;
  padding: 0;
}

.info-block-item p:first-child {
  width: 140px;
  padding-top: 47px;
  padding-left: 130px;
  padding-bottom: 21px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.info-block-item p:nth-child(2),
.info-block-item p:last-child {
  text-align: center;
}

.info-block-item p:last-child {
  width: 270px;  
  padding-top: 19px;
  padding-left: 63px;
  padding-bottom: 61px;

  line-height: 20px; 
}

.info-block-inside {
   background-color: #81b3d2;
}

.info-block-inside p {
  margin: 0;
  padding: 0;
}

.info-block-inside p:first-child {
  width: 150px;
  padding-top: 46px;
  padding-left: 125px;
  padding-bottom: 21px;

  font-size: 21px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.info-block-inside p:nth-child(2),
.info-block-inside p:nth-child(3) {
  color: #ffffff;
  text-align: center;
}

.info-block-inside p:nth-child(3) {
  width: 307px;
  padding-top: 18px;  
  padding-left: 47px;
  padding-right: 46px;

  line-height: 21px;
}

.text1 {
  width: 500px;
}

.info-block.block-2 {
  flex-direction: row-reverse;
}

.offer-block {
  display: flex;
}

.offer-block p {
  width: 400px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.offer-block p:first-child {
  padding-top: 160px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.offer-block p:last-child {
  width: 305px;
  padding-top: 25px;
  padding-left: 47px;
  padding-bottom: 81px;

  line-height: 21px;
}

.offer-block-item {
  position: relative;
}

.offer-block-item::before {
  position: absolute;
  width: 100px;
  height: 10px;

  content: "";

  background-color: #81b3d2;

}

.offer-block-item:first-child::before {
  width: 75px;
  height: 72px;

  top: 60px;
  left: 162px;

  background:  url("../img/sprite.png") no-repeat;
  background-position: -20px -556px;
}

.offer-block-item:nth-child(2)::before {
  width: 74px;
  height: 70px;

  top: 61px;
  left: 163px;

  background:  url("../img/sprite.png") no-repeat;
  background-position: -20px -370px;
}

.offer-block-item:nth-child(3)::before {
  width: 64px;
  height: 76px;

  top: 56px;
  left: 168px;

  background:  url("../img/sprite.png") no-repeat;
  background-position: -20px -460px;
}

.block-2-title {
  width: 300px;
  padding-top: 56px;
  padding-left: 450px;

  font-size: 30px;
  font-weight: 700;
  line-height: 24px;  
}

.block-2-info {
  padding-top: 29px;
  padding-bottom: 44px;
}

.feedback-btn {
  position: relative;
  display: block;
  margin-right: 316px;
  margin-left: 316px;
  padding: 30px 139px;
  padding-right: 140px;

  white-space: nowrap;
}

.feedback {
  display: none;
  position: absolute;
  transform-origin: top center;
  width: 568px;


  top: 2169px;
  left: 316px;

  background-color: #ffffff;
  box-shadow: 10px 0px 30px -20px #575757,
   -10px 15px 30px -20px #575757;
  border: none;
}

.feedback-show {
  display: block;
     
   -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.16s;
}

.feedback label, 
.feedback input {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
}

.feedback input {
  position: relative;
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
  outline: none;
}

.feedback input:hover {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
}

.feedback input:active {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.feedback .calendar,
.feedback .calendar2 {
  position: absolute;
  width: 21px;
  height: 22px;

  border: none;
  content: "";
  font-size: 0;
  top: 63px;
  left: 483px;

  cursor: pointer;
  outline: none;
  background-color: #f2f2f2;
    background:  url("../img/sprite.png") no-repeat;
    background-position: -20px -79px;
    opacity: 0.3;
}

.feedback .calendar2 {
  top: 130px;
}

.feedback .calendar:hover,
.feedback .calendar2:hover {
  opacity: 1;
}

.feedback .calendar:active,
.feedback .calendar2:active  {
  background-position: -20px -121px;
  opacity: 1;
}


.feedback .con,
.feedback .con2 {
  position: absolute;
  width: 12px;
  height: 3px;

  border: none;
  content: "";
  font-size: 0;
  top: 208px;
  left: 180px;


  cursor: pointer;
  outline: none;
  background-color: #f2f2f2;
  background:  url("../img/sprite.png") no-repeat;
  background-position: -20px -789px;
  opacity: 0.4;
  z-index: 10;
}

.feedback .con2 {
  left: 413px;
}

.feedback .con:hover,
.feedback .con2:hover {
  opacity: 1;
}

.feedback .con:active,
.feedback .con2:active  {
  background-position: -20px -766px;
  opacity: 1;
}

.feedback .plus,
.feedback .plus2 {
  position: absolute;
  width: 11px;
  height: 11px;

  border: none;
  content: "";
  font-size: 0;
  top: 204px;
  left: 256px;


  cursor: pointer;
  outline: none;
  background-color: #f2f2f2;
  background:  url("../img/sprite.png") no-repeat;
  background-position: -20px -812px;
  opacity: 0.4;
  z-index: 10;
}

.feedback .plus2 {
  left: 489px;
}

.feedback .plus:hover,
.feedback .plus2:hover {
  opacity: 1;
}

.feedback .plus:active,
.feedback .plus2:active {
  background-position: -20px -843px;
  opacity: 1;
}


.find {
  padding-top: 50px;
  padding-bottom: 46px;
  padding-left: 43px;
}

.find button {    
  padding: 16px 195px;
  padding-left: 196px;
}

.find button:hover {
  background-color: #669ec0;
}

.find button:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.feedback-block-date1 {
  padding-top: 55px;
  padding-left: 54px;
}

.feedback-block-date2 {
  padding-top: 20px;
  padding-left: 54px;
}

.feedback-block-date1 input {
  margin-left: 19px;
  padding-top: 4px;
  padding-right: 176px;
  padding-bottom: 4px;
  padding-left: 11px;

  text-transform: uppercase;
} 

.feedback-block-date2 input {
  margin-left: 17px;
  padding-top: 4px;
  padding-right: 177px;
  padding-bottom: 4px;
  padding-left: 9px;
  
  text-transform: uppercase;
}

.adults input {
    width: 18px;
    margin-left: 38px;
    padding-top: 4px;
    padding-right: 41px;
    padding-bottom: 4px;
  padding-left: 51px;
}

.adults {
  padding-left: 54px;
}

.kids input {
     width: 18px;
    margin-left: 23px;
    padding-top: 4px;
    padding-right: 41px;
    padding-bottom: 4px;
  padding-left: 51px; 
}

.kids {
  padding-left: 53px;
}

.feedback-block-people {
  display: flex;
  padding-top: 21px;
}

.feedback-block-people div {
  
}

.feedback fieldset {
  border: none;
}

.find button {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
}

::-webkit-input-placeholder {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
}

::-moz-placeholder {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
}

:-moz-placeholder {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
}

:-ms-input-placeholder {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
}

.links {
  display: flex;
}

.links div {
  width: 400px;  
}

.link1 {
  margin-top: 38px;

  margin-bottom: 50px;
}

.link1 a {
  padding-left: 132px;

  font-family: "PT Sans", "Tahoma", sans-serif;  
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;  
  text-decoration: none;
}

.footer-btn {
  position: relative;
  margin-right: 2px;  
  display: inline-block;
  vertical-align: top;
  content: "";
  font-size: 0;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-btn:hover {
  background-color: #669ec0;
}

.footer-btn:active {
  background-color: #5496bd;
}

.footer-btn.tw::before {
  position: absolute;
  width: 17px;
  height: 15px;
  
  content: "";
  top: 17px;
  left: 15px;
  background:transparent url("../img/sprite.png") no-repeat;
  background-position: -20px -985px;
}

.footer-btn.tw:active::before {
  opacity: 0.3;    
}

.footer-btn.fb:active::before {
  opacity: 0.3;    
}

.footer-btn.yb:active::before {
  opacity: 0.3;    
}

.footer-btn.fb::before {
  position: absolute;
  width: 10px;
  height: 19px;
  
  content: "";
  top: 13px;
  left: 18px;
  background:transparent url("../img/sprite.png") no-repeat;
  background-position: -20px -331px;
}

.footer-btn.yb::before {
  position: absolute;
  width: 20px;
  height: 16px;
  
  content: "";
  top: 16px;
  left: 13px;
  background:transparent url("../img/sprite.png") no-repeat;
  background-position: -20px -1020px;
}

.link2 {
  margin-top: 28px;
  padding-left: 187px;
}

.link3 {
  position: relative;
  padding-top: 38px;


}

.link3 a {
  padding-left: 40px;
    
  font-family: "PT Sans", "Tahoma", sans-serif;  
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;  
  text-decoration: none;
}

.link3::after {
  position: absolute;
  width: 113px;
  height: 39px;

  content: "";
  top: 33px;
  left: 122px;
  background:transparent url("../img/sprite.png") no-repeat;
  background-position: -20px -648px;

  cursor: pointer;
}

.link3:hover::after {
  background-position: -20px -707px;
}

.link3:active::after {
  background:transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
}

.btn {
  font-family: "PT Sans", "Tahoma", sans-serif;  
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;  
  text-decoration: none;

  background-color: #766357;
  border: none;
  outline: none;
  cursor: pointer;
}



/* setka catalog*/

.filter-block {
  display: flex;
}

.catalog-sort-column {
  display: flex;
}

.catalog-block {
  display: flex;
}






















































.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-calendar-active {
    width: 21px;
    height: 22px;
    background-position: -10px -52px;
}

.sprite-ch {
    width: 26px;
    height: 22px;
    background-position: -10px -94px;
}

.sprite-ch2 {
    width: 22px;
    height: 22px;
    background-position: -10px -136px;
}

.sprite-checkbox-off {
    width: 22px;
    height: 22px;
    background-position: -10px -178px;
}

.sprite-checkbox-on {
    width: 26px;
    height: 22px;
    background-position: -10px -220px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -10px -262px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -10px -301px;
}

.sprite-gift {
    width: 64px;
    height: 76px;
    background-position: -10px -391px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -10px -487px;
}

.sprite-htmlacad {
    width: 113px;
    height: 39px;
    background-position: -10px -579px;
}

.sprite-htmlacad-active {
    width: 113px;
    height: 39px;
    background-position: -10px -638px;
}

.sprite-minus-active {
    width: 12px;
    height: 3px;
    background-position: -10px -697px;
}

.sprite-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -10px -720px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -10px -743px;
}

.sprite-plus-active {
    width: 11px;
    height: 11px;
    background-position: -10px -774px;
}

.sprite-stars-2 {
    width: 42px;
    height: 17px;
    background-position: -10px -805px;
}

.sprite-stars-3 {
    width: 65px;
    height: 17px;
    background-position: -10px -842px;
}

.sprite-stars-4 {
    width: 89px;
    height: 17px;
    background-position: -10px -879px;
}

.sprite-tw {
    width: 17px;
    height: 15px;
    background-position: -10px -916px;
}

.sprite-yt {
    width: 20px;
    height: 16px;
    background-position: -10px -951px;
}
